In [252]:
# Import dependencies
import pandas as pd

In [270]:
# Create reousrce file location
purchase_data = ('Resources/purchase_data.csv')

In [271]:
# Create df of the purchase data
pd_df = pd.read_csv(purchase_data, index_col='Purchase ID')
pd_df.head()
# pd_df.dtypes

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [272]:
# Displays all unique players to make purchases
player_count = pd_df['SN'].nunique()
player_count
players = pd.DataFrame([player_count], columns=['Total Players'])
players

   Total Players
0            576

In [276]:
# Get number of unique items purchased
num_item = pd_df['Item ID'].nunique()
num_item

# Get the average price per item
avg_price = '${0:.2f}'.format(pd_df['Price'].mean())
avg_price

#Get the total number of purchases
tot_purchases = pd_df['SN'].count()
tot_purchases

# Get the total revenue for the purchases
tot_rev = '${0:.2f}'.format(pd_df['Price'].sum())
tot_rev

# Create a summary table for the Purchasing Analysis
pa_data = [num_item, avg_price, tot_purchases, tot_rev]
pa_columns = ['Number of Unique items', 'Average Price', 'Number of Purchases', 'Total Revenue']
purchase_df = pd.DataFrame([pa_data], columns=pa_columns)
purchase_df

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [305]:
# Create new df to group numbers by gender 
gender_df = pd_df.drop_duplicates('SN')
gender_df

new_gender_df = gender_df.groupby('Gender')
new_gender_df.count()

gender_count = new_gender_df['SN'].count()
gender_count

gender_count = pd.DataFrame({'Total Count':gender_count})
gender_count

total_count = gender_count['Total Count'].sum()
total_count

gender_count['Percentage of Players'] = gender_count['Total Count']/total_count
gender_count['Percentage of Players'] = gender_count['Percentage of Players'].map('{0:.2%}'.format)
gender_count

gender_counts = gender_count.sort_values('Total Count', ascending=False)
gender_counts

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%